     {% block sidebar %}
     <style>
         .card{
            box-shadow: 0 16px 48px #e494cc;
        }
     </style>
     <!-- Sidebar Widgets Column -->
     <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">Tell you what..</h5>
            <div class="card-body">
                <p class="card-text"> This blog is made on the top of my Favourite full stack Framework 'Django', and i just learnt how to make it! im excited to document my steps and to learn more. </p>
                <a href="https://djangocentral.com/building-a-blog-application-with-django"class="btn btn-danger">Know more</a>
            </div>
     </div>
    </div>

    {% endblock sidebar %} 